/*Comentari*/

header{
height: 165px;
background-color: black;
padding: 20px;
margin: 5px;
  border: solid;
  border-color: white;
  border-style: double;
  border-width: 5px;

}

h1{
color: white;
font-family: Arial;
}

nav{
  height: 20px;
  background-color: white;
  border-color: blue;
  border: solid;
  padding: 2px;
  margin:5px;
  padding-left: 5px;
  border-width: 5px;
  border-style: double


}


ol{
font-family: Arial;
font-variant:  all-small-caps;
font-style: italic;
font-size:  larger;
color: #0b4473;
}

#ultimallista{
  background-color: #F6D5E8;
  background-image: inherit;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 5px;

}

ul{

  list-style-position:  inside;
  list-style-type:  disclosure-closed;

}



a:hover{

  color: blue;


}
a:active{
  background-color: yellow;
  color: blue;

}

a:link{
  color:red;

}
a:visited{


}

a{
  background-color: ##411111;
  padding:1px ;
  margin:10px ;
  text-decoration-line: none;
  text-decoration-color: #96B8D4;
  text-decoration-style: dashed;
  font-size:  17px;;
  height: 10px;
  width: 10px;



}
