.cabecera1{

  height: 20px;
  width: 1850px;
  font-family: 'Lucida Grande';
  color: white;
  background-color: #2e3950;
  font-size: 16px;
}


.cabecera2{
  height: 20px;
  width: 200px;
  float: right;
  font-family: 'Lucida Grande';
  
  color: white;
  background-color: #2e3950;
  }


.contenido{
margin: auto;
margin-top: 20px;
width: 1100px;
height: 1400px;
background-color: white;
font-family: 'Lucida Grande';
}

div#FiltrosCategorias{
float: right;
width: 350px;
height: 200px;
background-color: #e9fcff;
}

div#Publicitat{
margin: auto;
width: 970px;
height: 250px;
background-color: white;
}

div#publi2{
float: right;
padding-top: 50px;
height: 1150px;
width: 350px;
background-color: #e9fcff;
}

id#reg{
color: red;
}

p.Categorias{
color: #07054D;
font-size: 25px;
padding-left: 10px;
}

p.CategoriasValores{

font-size: 30px;
color: black;

}

.titulo1{
color: #07054D;
font-size: 22px;
}

.titulo2{
color: #07054D;
font-size: 22px;
}

.main{
font-size: 22px;
}

a{
color: white;
text-decoration: none;
}


body{

background: url(../Images/bg.jpg) repeat;
font-family: 'Lucida Grande';
}
