body{

background: url(../Images/bg.jpg) repeat;
font-family: 'Lucida Grande';
}

a{
color: white;
text-decoration: none;
}

.cabecera1{

  height: 20px;
  width: 1850px;
  font-family: 'Lucida Grande';
  color: white;
  background-color: #2e3950;
  font-size: 16px;
}


.cabecera2{
  height: 20px;
  width: 200px;
  float: right;
  font-family: 'Lucida Grande';
  color: white;
  background-color: #2e3950;
  }

  .contenido{
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  width: 1000px;
  height: 700px;
  background-color: white;
  font-family: 'Lucida Grande';
  font-size: 20px;
  color: black;
  }

  .main{
  font-size: 25px;
  }
