body{
background-image: url("Thresh.jpg");
background-repeat: no-repeat;
background-size: 100%;

}
fieldset{
border-style: solid;
border-width: 8px;
border-color: black;
border-radius: 25px;
background-image: linear-gradient(#188f46,#65FEA1);
width: 800px;
height: 600px;
}

.box{
padding-top: 100px;
padding-left: 100px;
}

.nomAlias{
border-style: solid;
border-color: black;
border-width: 3px;
width: 200px;
height: 200px;
margin: 5px;
float: left;
padding: 5px;
}

.posicio{
border-style: solid;
border-color: black;
border-width: 3px;
width: 540px;
height: 200px;
margin: 5px;
float: right;
padding: 5px;
}

.summoners{
border-style: solid;
border-color: black;
border-width: 3px;
width: 775px;
height: 100px;
margin: 5px;
float: left;
padding: 5px;
text-align: center;
}

.resultat{
border-style: solid;
border-color: black;
border-width: 3px;
width: 775px;
height: 230px;
margin: 5px;
float: left;
padding: 5px;
font-size: 20px;
}

.imatge{
border-style: solid;
border-color: black;
border-width: 3px;
width: 500px;
height: 220px;
margin: 5px;
float: right;

}
